@import '../../variables/variables.scss';

#contact-view {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .text-content {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 200px;

        h5 {
            margin: 0;
            margin-bottom: 10px;
            font-family: 'Poppins', sans-serif;
            color: $color3;
            font-weight: 800;
            font-size: 3rem;
        }

        p {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            color: $color2;
            font-size: 1.2rem;
        }

        p:nth-child(2) {
            margin-bottom: 10px;
        }
    }
}
